node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
*.log
*.md
src/__tests__
jest.config.ts
